@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 12px 40px;
  background-color: rgba(0, 0, 0, 0.783);
}

.nav-items {
  display: flex;
  gap: 30px;
}

.nav-link {
  color: white;
  font-size: 16px;
  cursor: pointer;
}

.nav-link:hover {
  color: purple;
  transition: all 0.3s ease-in-out;
}

.nav-link:active {
  color: rgb(40, 1, 40);
}
