@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@500&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

.white {
  color: white;
}

:root {
  --width: 100%;
}

.App1 {
  background-color: black;
  color: white;
}

.row_posters {
  width: var(--width);
  flex-wrap: wrap;
  display: flex;
  padding: 20px;
  gap: 10px;
}

.poster {
  width: calc((var(--width) / 4) - 74px);
  position: relative;
}

.poster img {
  width: 100%;
  max-height: 340px;
}

.title {
  position: absolute;
  padding: 5px;
  inset: 0;
  opacity: 0;
  background-color: rgba(17, 17, 17, 0.567);
}

.title:hover {
  opacity: 1;
  transition: 0.4s ease-in-out;
}

.title .icon {
  font-size: 20px;
  color: white;
}

.title .liked {
  color: red;
  transition: 0.2s;
}

.title .movie_title {
  margin: 140px 0;
  text-align: center;
}

.modal_popup {
  width: 42%;
  padding: 10px 7px;
  display: flex;
  flex-direction: column;
  border: 1px solid white;
  border-radius: 10px;
  background-color: white;
  position: absolute;
  top: 12%;
  left: 50%;
  right: 50%;
  transform: translateX(-50%);
  z-index: 10;
  color: black;
  gap: 8px;
  font-size: 13px;
}

.modal_popup .result_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3px 6px;
}

.modal_popup .result_box:hover {
  background-color: rgb(238, 238, 238);
  transition: 0.1s ease-in-out;

}

.modal_popup .results {
  font-weight: 540;
  font-size: 15px;
}

.modal_popup .remove_btn {
  color: blue;
  font-size: 11px;
}

.modal_popup .remove_btn:hover {
  text-decoration: underline;
}

@media screen  and (max-width: 768px) {
  .poster {
    width: calc((var(--width) / 3) - 8px);
  }
  .poster img{
    max-height: 250px;
  }
   
}
@media screen and (min-width: 768px) and (max-width:1023px) {
   .poster {
    width: calc((var(--width) / 4) - 8px)
  };
}
@media screen and (max-width:480px) {
  .row_posters{
    padding: 20px 10px;
    gap: 10px;
  }
  .poster {
    width: calc((var(--width) / 3) - 7px);
  }
  .modal_popup {
    width: 50%;
  }
}

/* Modal popup */

/* <=============== navbar styling  =====================> */

/* <========== top banner style ===========> */

/* .banner {
  color:white;
  object-fit: contain;
  height: 448px;
}
.banner_contents {
  padding-top: 140px;
  padding-left: 50px;
  height: 190px;
  margin-bottom: 140px;
}
.banner_title{
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner_description{
  width: 45rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width:368px;
  height: 80px;
}
.banner_button{
  cursor: pointer;
  outline: none;
  color: white;
  border:none;
  font-weight: 700;
  border-radius: 0.2vw;
  padding:0.5rem 2rem;
  margin-right: 1rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.banner_button:hover{
  background-color: white;
  color: black;
  transition: all 0.2s ease;
}
.banner_fadeBottom {
  height: 7.4rem;
  background-image: linear-gradient(180deg,
      transparent,
      rgba(37, 37, 37, 0.6),
      #111);
}
.movie_category{
  font-size: 20px;
  padding:10px;
}
.row_posters{
  display: flex;
  gap:0 10px;
  overflow-y: hidden;
  overflow-x: scroll;
  padding:2px 10px;
}
.row_posters::-webkit-scrollbar{
  display: none;
}

.row_poster{
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  transition: transform 450ms;
}
.row_poster:hover{
  transform: scale(1.08);
}
.row_posterLarge{
  max-height: 250px;
}
.row_posterLarge:hover{
  transform: scale(1.09);
} */
